*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.main {
    position: fixed;
    top: 50%;
    width: 40%;
    min-height: calc(100vh - 560px);
    left: 60%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    gap: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.sure{
    color: black;
    font-weight: 100;
}


.btn_one {
    border: none;
    padding: 15px 20px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #40bf60;
    color: #fff;
    border-radius: 2rem;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .btn_two {
    margin-left: 1rem;
    border: none;
    align-items: center;
    padding: 15px 20px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    border-radius: 2rem;
    text-transform: uppercase;
    background: #ff0000;
    color: #fff;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }


  
  .btn_one:hover, .btn_two:hover {
    background: #d8d8d8;
    color: #0D47A1;
  }